body {
  background-color: #f8f8f8;
}

.message {
  font-size: 6rem;
  text-align: center;
  margin: 0.1em 0 0 0;
  color: #1D3756;
}

.node {
  display: block;
  margin: 0 auto 0 auto;
}

.tree-container {
  width: 100%;
}

.tree-row {
  display: flex;
  margin: 0.8em 0;
}

.one .tree-node {
  width: 100%;
  text-align: center;
}

.one .node {
  height: 8rem !important;
  width: 8rem !important;
}

.two .tree-node {
  width: 50%;
}

.two .node {
  height: 7rem !important;
  width: 7rem !important;
}

.three .tree-node {
  width: 25%;
}

.three .node {
  height: 6rem !important;
  width: 6rem !important;
}

.four .tree-node {
  width: 12.5%;
}

.four .node {
  height: 5rem !important;
  width: 5rem !important;
}

.five .tree-node {
  width: 6.25%;
}

.five .node {
  height: 4rem !important;
  width: 4rem !important;
}

.six .tree-node {
  width: 3.12%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
